* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightsalmon;
}

hr {

    margin: 10px;
}

#task-1 span {
    padding: 2px;
}

.sent {
    text-align: right;
    background: yellowgreen;
}

.received {
    text-align: left;
    background: aquamarine;
}
